html {
  font-size: 62.5%; /*oletusfonttikooksi 16px x 62.5% = 10px */
}

:root {
  --mainbasecolor: white;
  --headingbasecolor: whitesmoke;
  --mainfontcolor: #333333;
  --hovercolor: red;
  --linkcolor: rgb(233, 226, 86);
}

/* pohjatyyli koko sivulle */
body {
  background-color: var(--mainbasecolor);
  color: var(--mainfontcolor);
  font-family: "Open Sans", sans-serif;
}

section {
  padding: 7rem;
}
h1 {
  font-size: 7rem;
  font-weight: 300;
  color: whitesmoke;
  text-align: center;
  order: 3;
  flex-basis: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* animation-name: colorchange;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s; */
  opacity: 1; /* Alustava arvo ennen animaation käynnistymistä*/
  animation: fadeIn 2.5s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* @keyframes colorchange {
  0% {
    color: #fff4e0;
  }
  25% {
    color: #ff6869;
  }
  50% {
    color: red;
  }
  100% {
    color: #fff4e0;
  }
} */

h2 {
  font-size: 2.6rem;
  font-weight: 300;
  margin-inline-start: 1rem;
}
h3 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-block-end: 2rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 700;
}

p {
  font-size: 1.6rem; /* 1.6 x 10px = 16px */
  line-height: 1.5;
}
/* back-to-top button */
#backToTopBtn {
  background-color: inherit;
  border: 1px solid black;
  border-radius: 50%;
  /* border: none;
  border-radius: 4px; */
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  position: fixed;
  opacity: 1;
  bottom: 2rem;
  right: 0.8rem;
  z-index: 1;
}

#backToTopBtn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#backToTopBtn i {
  color: black;
  font-size: 2rem;
}

#backToTopBtn i:hover {
  color: var(--hovercolor);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
    url("images/metsa.jpeg");
  padding: 3rem;
  /* Parallax scrolling headeriin */
  min-height: 70rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

header .logoplusname {
  order: 1;
  width: 30rem;
  display: flex;
  flex-direction: row;
}

header .logo img {
  max-width: 100%;
  height: 7rem;
  width: 5rem;
}

nav.headerNavStyle {
  order: 2;
}

.headerNavStyle ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.headerNavStyle ul li {
  padding: 1rem;
}
.headerNavStyle a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-weight: 300;
}
.headerNavStyle a:hover {
  color: var(--hovercolor);
}

/*KORTTIEN MUOKKAUKSIA*/
.projectcardflexes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.cardpicturesize img {
  max-width: 100%;
}
.card {
  border: 1px solid darkgray;
  transition: 0.3s;
  padding: 1rem;
  margin: 1rem;
}

.card h4,
.card p,
.card figure {
  margin-block-end: 1rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.card p a {
  text-decoration: none;
  color: var(--linkcolor);
}
.card a:hover {
  color: var(--hovercolor);
}

.italicfont {
  font-style: italic;
}

.aboutMe {
  background-color: #f8f0e1;
}

.aboutMe img {
  float: right;
  width: 30rem;
  height: 20rem;
  max-width: 100%;
  margin-inline-start: 2rem;
}

.iconsection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.iconcontainer {
  margin: 2rem;
  padding: 2rem;
  flex-basis: 25%;
  text-align: center;
}
.iconcontainer figure {
  font-size: 1.3rem;
  margin-block-end: 1em;
}
.iconcontainer figure img {
  width: 3.5rem;
  height: 7rem;
}
progress {
  width: 12rem;
  height: 2rem;
  border-radius: 1px;
}

progress::-webkit-progress-bar {
  background-color: darkgray;
}
progress::-webkit-progress-value {
  background-color: var(--linkcolor);
}

.iconcontainer:nth-child(odd) {
  background-color: #e4e4e4;
}
.iconcontainer:nth-child(even) {
  background-color: #f7f7f7;
}

/*FOOTERIN MUOKKAUKSIA*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #646464;
  color: var(--headingbasecolor);
  max-height: fit-content;
  padding: 3rem 2rem 1rem 2rem;
}

form {
  margin-block-end: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelandinputs {
  margin-block-end: 2rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
label {
  width: 10rem;
}

input {
  width: 30rem;
}

/* input:focus {
  border: 1px solid rgb(233, 226, 86);
} */

textarea {
  width: 30rem;
  height: 10rem;
}

footer button {
  background-color: #edd8bc;
  color: var(--mainfontcolor);
  border: none;
  border-radius: 4px;
  padding: 1rem;
  margin-block-end: 1rem;
  cursor: pointer;
}

button:hover {
  color: var(--hovercolor);
}

#copyrightsmallfont {
  font-size: 1rem;
}
.hidden1 {
  display: none;
}

/* Tablet */
@media only screen and (max-width: 768px) {
  header {
    min-height: 60rem;
  }
  .headerNavStyle a {
    font-size: 1.1rem;
  }

  section {
    padding: 7rem 2rem;
  }

  .iconsection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* väliscreen hamburger menu esiin */
@media only screen and (max-width: 895px) {
  .hidden2 {
    display: none;
  }
  .hidden1 {
    display: block;
  }

  .dropdown {
    overflow: hidden;
    order: 2;
  }

  .dropdown .dropbtn {
    font-size: 2rem;
    border: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 1.6rem;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
    z-index: 1;
    right: 0;
    top: 6rem;
    right: 2rem;
  }

  .dropdown-content a {
    float: none;
    color: #333333;
    padding: 2rem;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  .dropdown-content a:hover {
    background-color: #f8f0e1;
    color: var(--hovercolor);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

/* väliscreen */
@media only screen and (max-width: 440px) {
  .iconcontainer {
    margin: 0 0.3rem 2rem 0.4rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)),
      url("./images/metsamobiili.jpg");
    /* Poistetaan parallax scrolling headerista */
    background-attachment: scroll;
    min-height: 50rem;
  }
}

/* Mobiili */
@media only screen and (max-width: 425px) {
  header {
    padding: 2rem 1rem 20rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  h2 {
    font-size: 1.6rem;
  }
  header .logoplusname {
    width: 30rem;
    display: flex;
    flex-direction: row;
  }
  .headerNavStyle ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #backToTopBtn {
    height: 2.5rem;
    width: 2.5rem;
    bottom: 2rem;
    right: 0.3rem;
    text-align: center;
  }

  #backToTopBtn i {
    font-size: 1.2rem;
  }
  section {
    padding: 5rem 2rem;
  }
  .projectcardflexes {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .card,
  .aboutMe figure,
  p {
    text-align: center;
  }
  .aboutMe img {
    float: none;
    margin: 0 0 1rem 0;
  }

  footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .labelandinputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  label {
    margin-block-end: 1rem;
  }
  /* .hidden2 {
    display: none;
  }
  .hidden1 {
    display: block;
  }

  .dropdown {
    overflow: hidden;
    order: 2;
  }

  .dropdown .dropbtn {
    font-size: 2rem;
    border: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 1.6rem;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
    z-index: 1;
    right: 0;
    top: 5rem;
    right: 2rem;
  }

  .dropdown-content a {
    float: none;
    color: #333333;
    padding: 2rem;
    text-decoration: none;
    display: block;
    text-align: center;
  }

  .dropdown-content a:hover {
    background-color: #f8f0e1;
    color: var(--hovercolor);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  } */
}
